@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to Teacher Management System by KUNAL Thakare</h1>
    <p class="lead">Below is the guide to navigate this system:</p>
    <ul class="list-unstyled">
        <li><strong>API Tab</strong>: Fetch data of Teachers with Swagger.</li>
        <li><strong>Teachers List Tab</strong>: Desplsays all the teachers.</li>
        <li><strong>Show Teacher Tab</strong>: Enter a teacher ID and see details of that Teacher.</li>
    </ul>
</div>